@import '../../media_querries.scss';
@import '../../style.scss';

img.cover-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/deep/ h1, h2, h3, h4, h5, h6 {
  color: $secondary-accent;
}

a.default {
  text-decoration: underline;
  color: $secondary-accent;
}