@import './media_querries.scss';

$background: black;
$primary-accent-dark: #f2f2f2;
$secondary-accent: #f9b820;
$navbar-height: 80px;

.container {
  max-width: 1400px;
  padding: 20px 80px;
  @include respond-below(lg) {
    padding: 20px 40px
  }
  @include respond-below(md) {
    padding: 20px 30px
  }
  @include respond-below(sm) {
    padding: 10px 15px;
  }
  margin: auto;
}
